
body
    background-color: #f5f5f5
    .logo
        background-image: url(img/logo.png)
        margin: 49px 539px 9px 539px
        justify-content: center
        display: flex

    .container
        width: 590px
        color: #f5f5dc
        justify-content: center
        display: grid
        .text
            width: 529px
            height: 86px
            color: #1b3655
            font-size: 37px
            text-align: center
            margin: 9px 33px 2px 33px
        .ratingcontainer
            width: 338px
            height: 42px
            display: flex
            justify-content: space-between
            .stars
                width: 148px
                height: 33px
            .description
                width: 166px
                height: 42px
        .vopros
            font-size: 37px
            color: #1b3655
            justify-content: center
            display: flex
        .buttons
            background-color: #1b3655
            width: 351px
            height: 67px
            text-align: center
            border-radius: 25px
    .siteinfo
        justify-content: center
        display: flex
        font-size: 12px
        color: #808080
